<table class="table table-striped">
    <thead>
        <tr><th>Day</th><th>Forecast</th><th>Sunrise/Set</th><th>High/Low Temp</th></tr>
    </thead>
{{#each sevenDayForecast}}
    <tbody>
        <tr><td> {{date}} </td>
        <td> {{summary}} </td>
        <td> {{sunRise}} am / {{sunSet}} pm</td>
        <td> {{maxTemp}} / {{minTemp}} &deg; Fahrenheit  </td>
        </tr>
    </tbody>
{{/each}}
</table>

